<%= form_for(@homework_assignment) do |f| %>
  <% if @homework_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework_assignment.errors.count, "error") %> prohibited this homework_assignment from being saved:</h2>

      <ul>
      <% @homework_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
