<p id="notice"><%= notice %></p>

<h1>Listing Homework Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Homework id</th>
      <th>User id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homework_assignments.each do |homework_assignment| %>
      <tr>
        <td><%= homework_assignment.homework %></td>
        <td><%= homework_assignment.user_id %></td>

        <td><%= link_to 'Show', homework_assignment %></td>
        <td><%= link_to 'Edit', edit_homework_assignment_path(homework_assignment) %></td>
        <td><%= link_to 'Destroy', homework_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homework assignment', new_homework_assignment_path %>
