<p id="notice"><%= notice %></p>

<h1>Homework Listing</h1>

<table border="1" cellpadding="10" cellspacing="10">
  <thead>
    <tr>
      <th> Title </th>
      <th> Question </th>
      <th> Due By </th>
    </tr>
  </thead>

  <tbody>
    <% @homeworks.each do |homework| %>
      <tr>
        <td><%= homework.title %></td>
        <% if current_user.role == 'teacher' %>
          <td><%= link_to homework.question, "/homework/#{homework.id}" %></td>
        <% else %>
          <td><%= link_to homework.question, "/submit/#{homework.id}" %></td>
        <% end %>
        <td><%= homework.due_by.strftime('%F') %></td>    
      </tr>
    <% end %>
  </tbody>
</table>


