// global styles

table  {
	td, th {
	padding: 10px;
	}

	margin:30px 0;
}

a {
	text-decoration: underline;
	color: #00006A;

	&:visited {
		color: #000035;
	}

	&:hover {
		background: #eeeeee;
	}
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
	display: block;
	margin: 10px;
}

.footer {
	margin-top: 30px;
}