<p id="notice"><%= notice %></p>

<h1>Listing Homework Submissions</h1>

<table class="table-bordered">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homework_submissions.each do |homework_submission| %>
      <tr>
        <td><%= link_to 'Show', homework_submission %></td>
        <td><%= link_to 'Edit', edit_homework_submission_path(homework_submission) %></td>
        <td><%= link_to 'Destroy', homework_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homework submission', new_homework_submission_path %>
