<h1>New Homework Submission</h1>

<h3><%= @question %></h3>	

<%= form_for @homework_submission, url: {action: "create"}, html: {class: "hw_form"} do |f| %>
	<%= f.hidden_field :homework_assignment_id,  :value => @homework_assignment_id %>
  <%= f.text_area :answer, size: "60x12" %>
  <%= f.submit "Create", :class => 'btn-primary' %>
<% end %>

