<p id="notice"><%= notice %></p>

<h1>Homework submissions by <%= @user.username %> for <%= @homework.title %> </h1>
<h3>Question: <%= @homework.question %>

<table class="table-bordered">
  <thead>
    <tr>
      <th>Answer</th>
      <th>Answer Date</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |homework_submission| %>
      <tr>
         <td><%= homework_submission.answer %></td>
         <td><%= homework_submission.created_at.strftime('%F, %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

