<p id="notice"><%= notice %></p>

<h1>Latest submissions for homework "<%= @homework.title %>"</h1>
<h3>Question: <%= @homework.question %></h3>

<table class="table-bordered">
  <thead>
    <tr>
      <th>Answered on</th>
      <th>Answered By</th>
      <th>Answer</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |homework_submission| %>
      <tr>
        <td><%= Date.parse(homework_submission.max_created_at).strftime('%F') %></td>
        <td><%= link_to homework_submission.homework_assignment.user.username, "/user/#{homework_submission.homework_assignment.user.id}/homework/#{@homework.id}" %></td>
        <td><%= homework_submission.answer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

